APP_ENV=linux
APP_HOST=0.0.0.0
APP_PORT=8000
SERVE_FRONTEND=true
ALLOW_DEV_CORS=false
ENABLE_TERMINAL=true
TERMINAL_SSH_HOST=
TERMINAL_SSH_PORT=22
TERMINAL_SSH_USERNAME=
TERMINAL_SSH_PASSWORD=
TERMINAL_SSH_KEY_PATH=
TERMINAL_SSH_SHELL=/bin/bash -l
